<Configuration>
	<Library Name="avcodec"   Version="60.3.100"/>
	<Library Name="avformat"  Version="60.3.100"/>
	<Library Name="avutil"    Version="58.2.100"/>
	<Library Name="swscale"   Version="7.1.100"/>
	<Library Name="avdevice"  Version="60.1.100"/>
	<WindowsBinaries Path="ffmpeg\bin"/>
</Configuration>